
@{
    ViewBag.Title = "AddUserRequest";
}



<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ADD USER REQUEST</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form role="form">
                            <div class="form-group">
                                @Html.Label("Search By", new { @class = "col-md-2 control-label" })
                                <div class="col-lg-4">
                                    @Html.DropDownList("ParamField", (IEnumerable<SelectListItem>)ViewBag.menu, "All", new { @class = "form-control" })
                                </div>
                                <div class="col-lg-6">
                                    @Html.TextBox("SearchValue", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Date", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBox("DatePickerReady", null, "All", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Branch", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("BranchId", (SelectList)ViewBag.br, "All", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Departement", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("DepartementCode", (SelectList)ViewBag.dpt, "All", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Job Type", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("JobType", (SelectList)ViewBag.job, "All", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Status", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("status", (SelectList)ViewBag.stat, "All", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Process", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("process", (SelectList)ViewBag.process, "All", new { @class = "form-control" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="Submit" value="Search" class="btn btn-default" id="buttonSearch" />
                @if ((ViewData["Privilege"] as List<USOFT.DataAccess.spGetUserInfo_Result>)[0].CanInsert != false)
                {
                    <input type="button" id="buttonCreate" value="Create" class="btn btn-default" onclick="window.location.href='@Url.Action("NewAccessUserIDRequest", "AccessAndUserIDRequest", new {id = ViewBag.menuId })'" />
                    
                }
            </div>
            <div class="panel-body">
                <div id="divTable">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('#buttonSearch').click(function () {
        $("#grid").jqGrid({
            url: '@Url.Action("GetAddUserRequest", "AccessAndUserIDRequest")',
            datatype: "JSON",
            mtype: "POST",

            postData: {

                ParamField: (function () {
                    return $("#ParamField option:selected").val();
                }),
                SearchValue: (function () {
                    return $("#SearchValue").val();
                }),
                DatePickerReady: (function () {
                    return $("#DatePickerReady").val();
                }),
                BranchId: (function () {
                    return $("#BranchId option:selected").val();
                }),
                DepartementCode: (function () {
                    return $("#DepartementCode option:selected").val();
                }),
                JobType: (function () {
                    return $("#JobType option:selected").val();
                }),
                status: (function () {
                    return $("#status option:selected").val();
                }),
                process: (function () {
                    return $("#process option:selected").val();
                }),
                
            },
            colNames: ['NUMBER', 'DATE', 'BRANCH', 'DEPARTEMENT', 'NIK', 'NAME', 'JOB TYPE', 'STATUS', 'PROCESS','Action'],
            colModel: [
                { key: true, Name: true, name: 'AddRequestId', editable: true, width: 100 },
                { key: false, name: 'AddRequestDate', editable: true, formatter: "date", formatoptions: { srcformat: "Y-m-d", newformat: "d-M-Y" }, width: 90 },
                { key: false, name: 'BranchName', editable: true, width: 100 },
                { key: false, name: 'DepartementName', editable: true, width: 110 },
                { key: false, name: 'NIK', editable: true, width: 150 },
                { key: false, name: 'EmployeeName', editable: true, width: 40 },
                { key: false, name: 'JobTypeName', editable: true, width: 50 },
                { key: false, name: 'Status', editable: true, width: 60 },
                { key: false, name: 'ProcessStatus', editable: true, width: 100 },
                {
                       name: 'Detail', title: false,
                       formatter: function (cellvalue, options, rowObject) {
                           return '<a href="/HR/AccessAndUserIDRequest/AccessUserRequestDetail?AccessID=' + rowObject.AddRequestId + '">' +
                           "Detail" + "</a>";
                       }
                }
              

            ],

            pager: '#pager',
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '80%',
            width: '50%',

            caption: 'User Request',
            emptyrecords: 'No records to display',

            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                cell: "cell",
                id: "id",
                userdata: "userdata",
            },

            multiselect: false,
        });
        $("#grid").trigger("reloadGrid", [{ page: 1 }]);

    });
</script>

